**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/*.md
**/node_modules
**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.Production.json
**/TriviUpTest
**/*.slnx
**/*.suo
**/*.user